:root{
  --mainwhite: #F3F4F6;
  --maingray: #9E9E9F;
  --mainblack: #403D3C;
  --mainyellow: #F6E45E;
  --subblue:#4266AE;
  --subgreen:#0AE854;
  --suborange:#ff573d;
  --subred:#FF2445;
}

/* font */
@font-face {
  font-family: "alphapipe";
  src: url("../fonts/BC Alphapipe RB Bold.ttf");
}
@font-face {
  font-family: "ipaexg";
  src: url("../fonts/ipaexg.ttf");
}
@media screen and (orientation:landscape){
  .sp{
    display: none;
  }
}
@media screen and (orientation:portrait){
  .pc{
    display:none;
  }
}
html,main{
  height: 100%;
  font-family: "ipaexg","alphapipe",Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
body{
  overflow: hidden;
  margin: 0 auto;
  width:100%;
  height:100%;
  background-color:var(--mainwhite);
}
.caption{
  font-size: 55px;
    position: absolute;
    color: var(--mainblack);
    opacity: 0.3;
    font-family: "alphapipe";
    left: -10px;
    top: 85%;
    transform-origin: 10% 50% 0;
    transform: rotate(-90deg);
    margin: 0;
    display:none;
}

.rotate{
  transform:rotateZ(20deg);
  width:60vw;
  text-align: center;
  position: absolute;
  z-index: 100;
  margin:30vh 20vw;
  -webkit-animation: rotate 3s ease 1s infinite normal;
  display:none;
}
@keyframes rotate {
  0% {transform:rotateZ(20deg);}
  20% {transform:rotateZ(15deg);}
  40% {transform:rotateZ(25deg);}
  60% {transform:rotateZ(20deg);}
  100% {transform:rotateZ(20deg);}
}

.pc{
  width:100%;
  height:100%;
}

.mainTitle{
  font-size: 30px;
  color:var(--mainblack);
  width:54%;
  text-align: center;
  position: absolute;
  margin:25vh 23%;
  display:none;
  z-index: 100;
}
.startText{
  font-size: 25px;
  color:var(--mainblack);
  width:40%;
  bottom:0%;
  text-align: center;
  position: absolute;
  margin:0 30%;
  padding:15vh 0;
  display:none;
  z-index: 50;
}


.leftP{
  transition: transform 0.8s;
  top:45%;
  left:-90%;
}
.rightP{
  transition: transform 1s;
  top:45%;
  right:-90%;
}
.centerP{
  transition: transform 1s;
  top:180%;
  left:0%;
}
.nowP{
  transition: transform 1.3s;
}
.initP{
  transform: rotate(-40deg);
  transition: transform 2s;
  top:150%;
  left:0%;
}





.yellowP{
  position: absolute;
  transform-origin: 50% 50% 0;
  width: 90vw;
  height: 110vh;
  z-index:5;
}
.grayP{
  position: absolute;
  transform-origin: 50% 50% 0;
  display:none;
  width: 90vw;
  height: 110vh;
  z-index:5;
}
.oliveP{
  position: absolute;
  transform-origin: 50% 50% 0;
  display:none;
  width: 90vw;
  height: 110vh;
  z-index:5;
}
.orangeP{
  position: absolute;
  transform-origin: 50% 50% 0;
  display:none;
  width: 90vw;
  height: 110vh;
  z-index:5;
}
.limeP{
  position: absolute;
  transform-origin: 50% 50% 0;
  display:none;
  width: 90vw;
  height: 110vh;
  z-index:5;
}

.Paper{
  box-shadow: 20px 15px 5px 6px rgba(50,50,50,0.3);
  opacity: 0.95;
}





#question{
  opacity: 0;
  font-size: 30px;
  color:var(--mainblack);
  width:70%;
  text-align: center;
  position: absolute;
  margin:30vh 15%;
  z-index: 100;
  display:none;
}
#question span{
  opacity: 0;
}

#answer01{
  font-size: 22px;
  color: var(--mainblack);
  text-align: center;
  position: absolute;
  bottom: 0vh;
  left: 2vw;
  z-index: 100;
  display:none;
  padding:15vh;
}
#answer02{
  font-size: 22px;
  color: var(--mainblack);
  text-align: center;
  position: absolute;
  bottom: 0vh;
  left: 50%;
  z-index: 100;
  display:none;
}
#answer03{
  font-size: 20px;
  color: var(--mainblack);
  text-align: center;
  position: absolute;
  bottom: 0vh;
  right: 2vw;
  z-index: 100;
  display:none;
  padding:15vh;
}



.osusume{
  font-size: 24px;
  color:var(--mainblack);
  width:50%;
  text-align: center;
  position: absolute;
  top: 10vh;
  left: 15vw;
  display:none;
  z-index: 100;
}
#result{
  font-size: 6vw;
  color:var(--mainblack);
  width:80%;
  text-align: center;
  position: absolute;
  top:25vh;
  margin:10%;
  display:none;
  z-index: 100;
}
#bushoIcon{
  width:20%;
  height:auto;
  text-align: center;
  position: absolute;
  bottom:33%;
  right:2vw;
  display:none;
  z-index: 100;
  transition: transform 0.8s;
  transform-origin: 50% 50% 0;
  filter: drop-shadow(5px 15px 3px rgba(50,50,50,0.3));
  -webkit-animation: icon 3s ease 0s infinite normal;
}

@keyframes icon {
  0% {transform:rotateZ(0deg);}
  20% {transform:rotateZ(-8deg);}
  40% {transform:rotateZ(8deg);}
  60% {transform:rotateZ(0deg);}
  100% {transform:rotateZ(0deg);}
}

.oneMoreButton{
  font-size: 2vw;
  font-family: "alphapipe";
  color:var(--maingray);
  background-color:rgba(255,255,255,0.3);
  opacity: 0.8;
  text-align: center;
  position: absolute;
  top:0;
  right:0;
  padding:5px 10px;
  margin:5vh;
  border:solid 2px var(--maingray);
  border-radius: 5px;
  z-index: 100;
  display:none;
}

.resetWhite{
  width: 100vw;
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  z-index: 300;
  display:none;
}
